.expertise-img
{
    height: 300px;
}

@media all and (max-width: 500px)
{
    .home-img
    {
       height: 250px;
    }
}
@media all and (max-width: 400px)
{
    .home-img
    {
       height: 200px;
    }
}

.border-img
{
    border-color: #458461 !important;
}

.expertise-bg-img
{
    background-color: #458461 !important;
    background-color: var(--green-bg, #458461);
}
