.navbar,.dropdown-menu
{
    background-color: #224433;
}

.navbar a,.nav-link
{
    color: white !important;
    border-radius: 5px;
    padding: 10px;
}

.navbar a:hover:not(.navbar-brand),.nav-link:hover:not(.navbar-brand)
{
    color: #b1fc03 !important;
    transition: .5s !important;
}

.navbar a.active:not(.navbar-brand)
{
  background-color: #f1f8f3;
  color: #224433 !important;
  transition: .5s;
}

.nav-item.dropdown:has(.dropdown-item.active) > .dropdown-toggle
{
    background-color: #f1f8f3;
    color: #224433 !important;
    transition: .5s;
}

.navbar-toggler
{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon 
{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='white'><path stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

@media(max-width: 370px)  
{
    .navbar
    {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
    .navbar-brand
    {
        font-size: 21px;
        font-weight: 800;
    }
}

@media(max-width: 330px)  
{
    .navbar
    {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.dropdown-menu
{
    border-color: white !important;;
}

.dropdown-item:hover 
{
    background-color: transparent !important; /* Removes background */
    color: inherit !important; /* Keeps the text color unchanged */
}
